@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body{
    background: #FCB31B;
    text-align: center;
    font-family: 'Rubik Dirt', cursive;
}

.title{
    font-size: 40px;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.calculator-exterior{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 600px;
    background-color: #1F2937;
    border-radius: 50px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.836);
    margin-bottom: 20px;
}

#display{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    background-color: #F9FAF8;
    width:350px;
    height:110px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.836);
}

#display-text{
    font-size: 45px;
    margin-right: 10px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
}

#first-row{
    margin-top: 15px;
}

.buttons{
    width:65px;
    height:65px;
    margin: 10px;
    border-radius: 40px;
    background-color:#616161;
    color:#F9FAF8;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.836);
    font-size: larger;
    font-weight: bolder;
}

.buttons:hover{
    background-color: #1F2937;
}

#equal-button{
    width:150px;
}
.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    align-items: center;
    color: #F9FAF8;
    font-size: 20px;
    margin-top: 20px;
  }